/* Supplementary CSS animations */
/* The goal is to provide full-featured SVG without CSS, so it should be okay even if this file is not loaded. */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-up {
  from {
    transform: translateY(85%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes reveal-to-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .footer-background {
    animation: reveal-to-right 0.4s ease-out 0s both;
  }

  .footer-content {
    animation: slide-in-up 0.4s ease-out 0.1s both;
  }

  .location {
    animation: slide-in-left 0.3s ease-out 0s both;
  }

  .main-content {
    animation: fade-in 0.4s ease-out 0s both;
  }

  .item-row {
    animation: fade-in 0.4s ease-out 0s both;
  }

  .item-row-1 {
    animation-delay: 0.2s;
  }

  .item-row-2 {
    animation-delay: 0.3s;
  }

  .item-row-3 {
    animation-delay: 0.4s;
  }

  .credit {
    animation: fade-in 0.4s ease-out 1s both;
  }
}
